<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<head>
  <link rel="stylesheet" href="stylesheets/about.css" type="text/css">
</head>
<body>
  <span class = "fadeImage">
  <span id="aboutBG"> </span>
</body>
</html>
