<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
 <% include partials/head %>
<head>
  <h1> <%=title%></h2>
  <p> Welcome to <%=title%> </p>
</head>

<body>
        <a href="/signin" class="log-buttons"> Sign in</a>
        <a href="/signup" class="log-buttons"> Sign up</a>
        <span class="fb-button"> <a href="/auth/facebook"> Facebook Login</a></span>
    </div>
  </body>
</html>
