<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
 <% include layout.ejs %>
<head>
  <h1> <%=title%></h2>
  <p> Welcome to <%=title%> </p>
</head>

  <body>
     <% if (!user) { %>
     <a href="/signin"> signin</a>
     <br/>
     <a href="/signup"> signup</a>
     <br/>
     <a href="/signin/facebook">Log In with Facebook</a>
    <% } %>
  </body>
</html>
