<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
 <% include partials/head %>
<head>
  <h1> <%=title%></h2>
  <p> Welcome to <%=title%> </p>
</head>

<body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <a href="/signin" class="btn btn-default"><span class="fa fa-sign-in"></span> Sign in</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Sign up</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook Login</a>
    </div>
  </body>
</html>
