<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<head>
</head>

<body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-sign-in"></span> Sign In</h1>


  <form action="/signin" method="post">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign In" id="">
  </form>
</body>
</html>
