<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <h1>  Welcome to Muze </h2>
</head>

  <body>

  <div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-sign-up"></span> Sign Up</h1>


  <form action="/signup" method="post">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up" id="">
  </form>
</body>
</html>
