<!DOCTYPE html>
<html>
 <% include layout.ejs %>
<head>
  <h1>  Welcome to Muze </h2>
  <p> Sign Up Here </p>
</head>

  <body>
  <form action="/signup" method="post">
    Name: <input type="text" name="name">
    Username: <input type="text" name="username">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up" id="">
  </form>
</body>
</html>
