<!DOCTYPE html>
<html>
 <% include layout.ejs %>
<head>
  <h1>  Welcome to Muze </h2>
  <p> Sign In Below </p>
</head>

  <body>

  <form action="/signin" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign In" id="">
  </form>
</body>
</html>
