body {
    margin:0;
    background-image:url("../images/musicbg.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-color:#000000;
    color: #ffffff;

}

h1 {
   font: bold 150px "Syncopate", sans-serif;
   text-align: center;
   position: relative;
   top: 310px
}

.M {
  color: #f2ef4b
}

.U {
  color: #59ff96
}

.Z {
  color: #59fff9
}

.E {
  color: #3c89fc
}

.links {
  position: relative;
  text-align: center;
  top: 170px;
}

.signin, .signout, .fbButton {
  font: bold 20px "Syncopate", sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px
}

.signin:hover, .signout:hover, .fbButton:hover {
  color: hotpink
}
