
h1 {
   font: bold 150px "Lucida Grande", Helvetica;
   text-align: center;
   position: relative;
   top: 300px
}

.log-buttons {
    font: bold 30px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #f49542;
  }

.links {
  text-align: center;
  position:relative;
  top: -390px
}
