.bio {
    content:url("../images/sami.jpeg");
    repeat: no-repeat;
    color:#000000;
    color: #ffffff;
    position: absolute;
    margin-left: 300px;
    margin-top: 20px;
    width: 220px;
    height: 220px;
    shadow: 10px

}

body {
    margin:0;
    background-image:url("../images/cdBg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-color:#000000;
    color: #ffffff;
}

.toggle {
  position: relative;
  top: 270px;
  left: 390px;
}
